%form{:method => 'post', :action => '/logout'}
	%input{:type => 'submit', :value => 'logout'}
%hr
%h1= "You are logged in: #{user}!"
%a{:href => '/posts/create'} Create new Post
|
%a{:href => '/posts/manage'} Manage Posts

%hr
%h1 Manage Posts
%table
	%tr
		%th #
		%th Post Title
		%th Action
	- for post in @posts
		%tr
			%td= post.id
			%td= post.title
			%td= "<a href='/posts/manage/show/#{post.id}'>VIEW</a> | <a href='/posts/manage/delete/#{post.id}'>DELETE</a> | <a href='/posts/manage/edit/#{post.id}'>EDIT</a>"
